=form_for @user do |f|
  .user-input
    = f.label :first_name, "First Name:"
    = f.text_field :first_name
  .user-input
    = f.label :last_name, "Last Name:"
    = f.text_field :last_name
  .user-input
    = f.label :email, "Email Address:"
    = f.text_field :email
  .user-input
    = f.label :password, "Enter a new password:"
    = f.password_field :password
  .user-input
    = f.label :password_confirmation, "Confirm new password:"
    = f.password_field :password_confirmation
    = hidden_field_tag :token, @token
  .submit-button
    = f.button