.info-card
  .info-card-header
    = roster.section_name
  = content_tag 'div', class: 'info-card-avg', id:"avg-#{roster_counter}", data: { max: (roster.course.possible_points / 100), val: (roster.course.average_score) } do
    %p Average Score
  = content_tag 'div', class: 'info-card-progress', id: 'progress-#{roster_counter}', data: { val: roster.percent_complete}
    %p % Complete