.title-box
  %ul
    %li
      = link_to "Active", "#", class: "roster-links", id: "active"
    %span //
    %li
      = link_to "Recent", "#", class: "roster-links", id: "recent"
    %span //
    %li
      = link_to "Upcoming", "#", class: "roster-links", id: "upcoming"
    %span //
    %li
      = link_to "Archived", "#", class: "roster-links", id: "archived"
.user-roster-cards#roster-index
  = render @rosters

