.new
  %h1= @roster.section_name
  %ul
    %li
      %strong Meet Time:
      =@roster.meet_day
      at
      =@roster.meet_time
    %li
      %strong Location:
      =@roster.location

  = link_to "Export Roster", export_roster_path

%table.table-minimal
  %thead
    %tr
      %th Name
      %th Email Address
      %th Uid
      - @roster.evals.each do |eval|
        %th= link_to "#{eval.title}", eval_path(eval)

  %tbody
    -@roster.students.each do |student|
      %tr
        %td= first_last(student)
        %td= student.email
        %td= student.uid
        -student.evals.each do |eval|
          %td= link_or_grade(student, eval.id)








