=form_for @assistant do |f|
  =f.hidden_field :course_ids, value: params[:course_ids]
  .user-input
    = f.label :first_name, "First Name:"
    = f.text_field :first_name
  .user-input
    = f.label :last_name, "Last Name:"
    = f.text_field :last_name
  .user-input
    = f.label :email, "Email Address:"
    = f.text_field :email
  .submit-button
    = f.button "Send Invite"