%h1
  Welcome, #{@user.first_name}
= @user.type
%br
%br
- if @user.courses.empty?
  %p
    %i #{@user.first_name} does not appear to have any courses at the moment...
- else
  Your Courses:
  - @user.courses.each do |course|
    %ul
      %li
        = link_to course.name, course_path(course)
%br
- if @user.evals.empty?
  %p
    %i You do not appear to have any ongoing evaluations at the moment...
- else
  Your Evaluations:
  - @user.evals.each do |eval|
    %ul
      %li
        = link_to eval.title, eval_path(eval)

/ = render :partial => 'refills/vertical_tabs'

.vertical-tabs-container
  .vertical-tabs
    %a.js-vertical-tab.vertical-tab.is-active{href: "#", rel: "tab1"} Item 1
    %a.js-vertical-tab.vertical-tab{href: "#", rel: "tab2"} Item 2
    %a.js-vertical-tab.vertical-tab{href: "#", rel: "tab3"} Item 3
    %a.js-vertical-tab.vertical-tab{href: "#", rel: "tab4"} Item 4
  .vertical-tab-content-container
    %a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading.is-active{href: "", rel: "tab1"} Item 1
    #tab5.js-vertical-tab-content.vertical-tab-content
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.


.vertical-tabs-container
  .vertical-tabs
    - @user.courses.each.with_index do |course, index|
      - if index == 0
        =link_to course.name, "#", class: "js-vertical-tab vertical-tab is-active", rel: "tab#{index}"
      - else
        =link_to course.name, "#", class: "js-vertical-tab vertical-tab", rel: "tab#{index}"
  .vertical-tab-content-container
    - @user.courses.each.with_index do |course, index|
      =link_to course.name, "#", class: "js-vertical-tab-accordion-heading vertical-tab-accordion-heading", rel: "tab#{index}"
      .js-vertical-tab-content.vertical-tab-content{id: "tab#{index}"}
        %p= course.description


:javascript
  $(".js-vertical-tab-content").hide();
  $(".js-vertical-tab-content:first").show();

  /* if in tab mode */
  $(".js-vertical-tab").click(function(event) {
    event.preventDefault();

    $(".js-vertical-tab-content").hide();
    var activeTab = $(this).attr("rel");
    $("#"+activeTab).show();

    $(".js-vertical-tab").removeClass("is-active");
    $(this).addClass("is-active");

    $(".js-vertical-tab-accordion-heading").removeClass("is-active");
    $(".js-vertical-tab-accordion-heading[rel^='"+activeTab+"']").addClass("is-active");
  });

  /* if in accordion mode */
  $(".js-vertical-tab-accordion-heading").click(function(event) {
    event.preventDefault()

    $(".js-vertical-tab-content").hide();
    var accordion_activeTab = $(this).attr("rel");
    $("#"+accordion_activeTab).show();

    $(".js-vertical-tab-accordion-heading").removeClass("is-active");
    $(this).addClass("is-active");

    $(".js-vertical-tab").removeClass("is-active");
    $(".js-vertical-tab[rel^='"+accordion_activeTab+"']").addClass("is-active");
  });