.avatar-main-container
  - if @user.avatar?
    = image_tag @user.avatar.url(:medium), class: "avatar-frame"
  .avatar-name-container
    %br
    %h2 #{@user.first_name} #{@user.last_name}
    %h6 #{@user.type}
  .exit-container-plus
    = link_to new_eval_path do
      %i.icon-plus  &nbsp;
    %i.icon-exit
%br
%h1 Courses
- if @user.type == "Professor" && @user.courses.empty?
  %p
    %i You do not appear to have any courses at the moment. How nice.
- else
  .vertical-tabs-container
    .vertical-tabs
      - @user.courses.each.with_index do |course, index|
        - if index == 0
          =link_to course.name, "#", class: "js-vertical-tab vertical-tab is-active", rel: "tab#{index}"
        - else
          =link_to course.name, "#", class: "js-vertical-tab vertical-tab", rel: "tab#{index}"
    .vertical-tab-content-container
      - @user.courses.each.with_index do |course, index|
        - if index == 0
          =link_to course.name, "#", class: "js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active", rel: "tab#{index}"
          .js-vertical-tab-content.vertical-tab-content{id: "tab#{index}"}
            %p= course.description
        - else
          =link_to course.name, "#", class: "js-vertical-tab-accordion-heading vertical-tab-accordion-heading", rel: "tab#{index}"
        .js-vertical-tab-content.vertical-tab-content{id: "tab#{index}"}
          %p= course.description
%h1 Evaluations
- if current_user.type == "Professor" && current_user.evals.empty?
  %p
    %i You do not appear to have any ongoing evaluations at the moment. How nice.
- else
  - if current_user.type == "Professor"   
    %table.table-minimal
      %thead
        %tr
          %th Title
          %th Created At
          %th Template Type
      %tbody
      - current_user.evals.each do |eval|
        %tr
          %td
            = link_to eval.title, eval_path(eval)
          %td #{eval.created_at.to_time.strftime('%B %e at %l:%M %p')}
          %td #{eval.template}