.nested-fields
  %ul
    .field.title
      = f.label :category
      = f.text_field :title, :placeholder => "Limits of Sine and Cosine"
    .field.score
      = f.label :score
      - if f.object.max_score
        = f.number_field :max_score, step: "any", :value =>format_score(f.object.max_score)
      - else
        = f.number_field :max_score, step: "any", :placeholder => 100
      = link_to_remove_association "remove category", f
    #masks
      = f.fields_for :comments do |comment|
        = render 'comment_fields', :f => comment
      .links
        = link_to_add_association "add comment", f, :comments