.fields
= form_for @eval do |f|
  .field.title
    = f.label :title
    = f.text_field :title, :placeholder => "MAT 135: Single Variable Calculus"
  .field.template
    = f.label :template
    = f.select :template, [['Rubric', 'rubric'], ['Scheme', 'scheme']]
  %br
  .links
    = link_to_add_association '+ Add a Category', f, :categories, { :"data-association-insertion-node" => '#tasks', :"data-association-insertion-method" => 'append' }
  #tasks
    = f.fields_for :categories do |category|
      = render 'category_fields', :f => category   
  = f.submit