.fields
= form_for @eval do |f|
  .field.title
    = f.label :title
    = f.text_field :title, :placeholder => "Add a title..."
  .field.template
    = f.label :template
    = f.select :template, [['Rubric', 'rubric'], ['Scheme', 'scheme']]
  .field.template
    = f.label :course
    = f.select :course_ids, options_from_collection_for_select(current_user.courses, :id, :name)
  %br
  .links
    = link_to_add_association '+ Add a Category', f, :categories, { :"data-association-insertion-node" => '#tasks', :"data-association-insertion-method" => 'append' }
  #tasks
    = f.fields_for :categories do |category|
      = render 'category_fields', :f => category
  = f.submit