.fields
= form_for @eval do |f|
  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :template
    %br
    = f.select :template, [['Rubric', 'rubric'], ['Scheme', 'scheme']]
  %h3 Categories
  #tasks
    = f.fields_for :categories do |category|
      = render 'category_fields', :f => category
    .links
      = link_to_add_association 'add category', f, :categories
      %br
      %br
  = f.submit