<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/kyn5cgt.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<div class="new">
<% if flash[:alert] %>
  <p id="alert"><%= flash[:alert] %></p>
<% end %>
</div>
<% if current_user %>
<nav id="sidenav">
  <ul class="top">
    <li class="nav-catalog">
      <%= link_to user_path(current_user), {controller: "users", action: "show"}, class: "is active" do %>
        <i class="icon-home">
        </i>
        <span>Home</span>
      <% end %>
    </li>
    <li class="nav-catalog">
      <%= link_to course_path(current_user), {controller: "course", action: "show"}, class: "is active" do %>
        <i class="icon-notebook">
        </i>
        <span>Courses</span>
      <% end %>
    </li>
    <li class="nav-forum">
      <%= link_to user_path(current_user), {controller: "users", action: "show"}, class: "is active" do %>
        <i class="icon-paste">
        </i>
        <span>Evaluations</span>
      <% end %>
    </li>
    <li class="nav-docs">
      <%= link_to user_path(current_user), {controller: "users", action: "show"}, class: "is active" do %>
        <i class="icon-users">
        </i>
        <span>TAs</span>
      <% end %>
    </li>
  </ul>
</nav>
<% end %>
<div class="new">
<%= yield %>
<% if current_user %>
  Logged in as <%= current_user.email %>/
  <%= link_to "Log out", logout_path %>
<% else %>
  <%= link_to "Log in", login_path %>.
<% end %>
<%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
