<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <script type="text/javascript" src="//use.typekit.net/kyn5cgt.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:alert] %>
  <p id="alert"><%= flash[:alert] %></p>
<% end %>
<%= yield %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
