<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/kyn5cgt.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<% if flash[:alert] %>
  <p id="alert"><%= flash[:alert] %></p>
<% end %>
<!-- <nav id="sidenav">
  <ul class="top">
    <li class="nav-catalog">
      <a class="is active" href="http://google.ca">
        <i class="icon-home">
        </i>
        <span>Home</span>
      </a>
    </li>
    <li class="nav-catalog">
      <a class="is active" href="http://google.ca">
        <i class="icon-notebook">
        </i>
        <span>Courses</span>
      </a>
    </li>
    <li class="nav-forum">
      <a href="http://yahoo.ca">
        <i class="icon-paste">
        </i>
        <span>Evaluations</span>
      </a>
    </li>
    <li class="nav-docs">
      <a href="http://facebook.com">
        <i class="icon-users">
        </i>
        <span>TAs</span>
      </a>
    </li>
  </ul>
</nav> -->
<%= yield %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
